<div class="comment-form">
  <%= form_for(@article.comments.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :article_slug, @article.slug %></div>
  <div><%= hidden_field_tag :user_id, current_user.id %></div>
  <div class="form-group comment-textarea">
    <%= f.text_area :content, class: "form-control", 
                  id: "comment-input",
                  placeholder: "Add your comment" %>
  </div>
  <div class="form-group">
    <%= f.submit "Comment", class: "btn btn-block btn-xs btn-info" %>
  </div>
  <% end %>
</div>
