<div class="row">
  <% obj.each do |article| %>
  <div class="col-sm-6 article-card">
    <div class="well well-lg article-description">
      <div class="article-title">
        <%= link_to article.title.titleize, article_path(article) %>
      </div>
      <div class="article-body">
        <%= sanitize article.description.truncate(60) %>
        <div class="article-meta-details">
          <small class="text-muted">
            <strong>
              <%= link_to "@#{article.user.username if article.user}", user_path(article.user) %>,
            </strong>
            <%= time_ago_in_words(article.created_at) %> ago |
            <strong><%= article.read_time %> min. read</strong>
          </small>
        </div>
      </div>
      <p>
        Categories: <%= render article.categories if article.categories.any? %>
      </p>
      <div class="article-stats">
        <div class="article-stats">
          <span class="label label-success">
            <i class="fas fa-thumbs-up"></i>
            <%= article.likes.count %>
          </span>
          <span class="label label-view">
            <i class="far fa-eye"></i>
            <%= article.view_count %>
          </span>
          <span class="label label-comment">
            <i class="fas fa-comment-alt"></i>
            0
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
