<div class="row">
  <% obj.each do |article| %>
  <div class="col-sm-6 article-card">
    <div class="well well-lg article-description">
      <div class="article-title">
        <%= link_to article.title.titleize, article_path(article) %>
      </div>
      <div class="article-body">
        <%= sanitize article.description.truncate(60) %>
        <div class="article-meta-details">
          <small class="text-muted">
            <strong>
              <%= link_to "@#{article.user.username if article.user}", user_path(article.user) %>,
            </strong>
            <%= time_ago_in_words(article.created_at) %> ago |
            <strong><%= article.read_time %> min. read</strong>
          </small>
        </div>
      </div>
      <p>
        Categories: <%= render article.categories if article.categories.any? %>
      </p>
      <div>
        <%= render 'shared/article_stats', article: article %>
      </div>
    </div>
  </div>
  <% end %>
</div>
